In [1]:
import pandas as pd

In [2]:
df_1 = pd.read_csv("./data_1.csv")
df_2 = pd.read_csv("./data_2.csv")
df_3 = pd.read_csv("./data_3.csv")

In [3]:
df_1.head()

,Index,message to examine,label (depression result)
0,106,just had a real good moment. i missssssssss hi...,0
1,217,is reading manga http://plurk.com/p/mzp1e,0
2,220,@comeagainjen http://twitpic.com/2y2lx - http:...,0
3,288,@lapcat Need to send 'em to my accountant tomo...,0
4,540,ADD ME ON MYSPACE!!! myspace.com/LookThunder,0

In [5]:
df_1 = df_1.drop("Index", axis=1).rename(columns={"message to examine": "text", "label (depression result)": "label"})
df_1.head()

                                                text  label
0  just had a real good moment. i missssssssss hi...      0
1         is reading manga  http://plurk.com/p/mzp1e      0
2  @comeagainjen http://twitpic.com/2y2lx - http:...      0
3  @lapcat Need to send 'em to my accountant tomo...      0
4      ADD ME ON MYSPACE!!!  myspace.com/LookThunder      0

In [6]:
df_2.head()

                                          clean_text  is_depression
0  we understand that most people who reply immed...              1
1  welcome to r depression s check in post a plac...              1
2  anyone else instead of sleeping more when depr...              1
3  i ve kind of stuffed around a lot in my life d...              1
4  sleep is my greatest and most comforting escap...              1

In [7]:
df_2.rename(columns={"clean_text": "text", "is_depression": "label"}, inplace=True)
df_2.head()

                                                text  label
0  we understand that most people who reply immed...      1
1  welcome to r depression s check in post a plac...      1
2  anyone else instead of sleeping more when depr...      1
3  i ve kind of stuffed around a lot in my life d...      1
4  sleep is my greatest and most comforting escap...      1

In [8]:
df_3.head()

                                                text  label
0  dear american teens question dutch person hear...      0
1  nothing look forward lifei dont many reasons k...      1
2  music recommendations im looking expand playli...      0
3  im done trying feel betterthe reason im still ...      1
4  worried  year old girl subject domestic physic...      1

In [9]:
df_1.shape, df_2.shape, df_3.shape

((10314, 2), (7731, 2), (27977, 2))

In [14]:
data = pd.concat([df_1, df_2, df_3], axis=0).reset_index(drop=True)

In [16]:
data["label"].value_counts()

0    26039
1    19983
Name: label, dtype: int64

# Data Splitting

In [18]:
from sklearn.model_selection import train_test_split
import numpy as np

In [19]:
fractions = np.array([0.6, 0.2, 0.2])
# shuffle your input
data = data.sample(frac=1)
# split into 3 parts
train, val, test = np.array_split(
    data, (fractions[:-1].cumsum() * len(data)).astype(int))

In [21]:
train.reset_index(drop=True, inplace=True)
val.reset_index(drop=True, inplace=True)
test.reset_index(drop=True, inplace=True)

In [23]:
train.shape, val.shape, test.shape

((27613, 2), (9204, 2), (9205, 2))

In [26]:
train.to_csv("./depression_tweet/train.csv", index=False)
val.to_csv("./depression_tweet/valid.csv", index=False)
test.to_csv("./depression_tweet/test.csv", index=False)

# Pushing dataset to huggingface

Here's the guide: [Uploading dataset to Hub](https://huggingface.co/docs/datasets/upload_dataset)